* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
.container {
  max-width: 992px;
  margin: auto;
}


.faqs {

  h2 {
    margin-top: 80px;
    font-size: 24px;
    font-weight: 500;
    color: $font-color;
    line-height: 35px;
  }

  p {
    margin: 30px 0;
    font-size: 14px;
    font-weight: 400;
    color: $font-color;
    line-height: 24px;
  }
}
