footer {
  height: 50px;
  background-color: #f5f5f5;
  .container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}


.footer-left {
  display: flex;
  justify-content: flex-start;
  ul {
    list-style-type: none;
    li {
      display: inline-block;
      position: relative;
      a {
        align-self: center;
        text-decoration: none;
        color: $footer-font-color;
        font-size: 11px;
        font-weight: 300;
        margin-right: $spacing / 2;

      }
    }
  }
}

.add-dot::after {
  content: '.';
  position: absolute;
  font-weight: 300;
  right: 0;
  top: -10%;
}

.footer-right {
  display: flex;
  align-items: center;

  .fa-globe-americas {
    color: #3367d6;
  }

  select {
    padding: 0 $spacing *3 0 0;
    margin-left: $spacing / 4;
  }
}
